USE [master]
GO
/****** Object:  Database [HomeWorks]    Script Date: 22.07.2023 22:11:55 ******/
CREATE DATABASE [HomeWorks]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HomeWorks', FILENAME = N'E:\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\HomeWorks.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HomeWorks_log', FILENAME = N'E:\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\HomeWorks_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HomeWorks].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HomeWorks]
GO
/****** Object:  Table [dbo].[hw-11-07]    Script Date: 22.07.2023 22:11:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hw-11-07](
	[startdate] [date] NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[hw-11-07] ([startdate]) VALUES (CAST(N'2004-02-05' AS Date))
INSERT [dbo].[hw-11-07] ([startdate]) VALUES (CAST(N'1983-06-23' AS Date))
INSERT [dbo].[hw-11-07] ([startdate]) VALUES (CAST(N'1982-01-18' AS Date))
GO
USE [master]
GO
